<div class="col-sm-6 col-md-4 col-lg-3">
  <a href="{{ person.url }}">
    <div class="card h-100 text-center">
      {%- include figure.liquid path=person.image class="rounded-circle mx-auto d-block mt-3" sizes="100px" -%}
      <div class="card-body">
        <h5 class="card-title">{{ person.title }}</h5>
        <div class="d-flex justify-content-center">
          {%- if person.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ person.scholar_userid }}" class="mx-1">
              <i class="ai ai-google-scholar"></i>
            </a>
          {%- endif -%}
          {%- if person.orcid_id -%}
            <a href="https://orcid.org/{{ person.orcid_id }}" class="mx-1">
              <i class="ai ai-orcid"></i>
            </a>
          {%- endif -%}
          {%- if person.gh_username -%}
            <a href="https://github.com/{{ person.gh_username }}" class="mx-1">
              <i class="ai ai-github"></i>
            </a>
          {%- endif -%}
          {%- comment %} add more icons here {% endcomment -%}
        </div>
      </div>
    </div>
  </a>
</div>
