---
layout: default
---
<main class="container my-5">
  <div class="row">
    <div class="col-md-4 text-center">
      {% include figure.liquid
         path=page.image
         class="img-fluid rounded-circle mb-3"
         sizes="200px" %}
      <div class="mb-3">
        {% if page.scholar_userid %}
          <a href="https://scholar.google.com/citations?user={{ page.scholar_userid }}" class="me-2" aria-label="Google Scholar">
            <i class="ai ai-google-scholar"></i>
          </a>
        {% endif %}
        {% if page.orcid_id %}
          <a href="https://orcid.org/{{ page.orcid_id }}" aria-label="ORCID">
            <i class="ai ai-orcid"></i>
          </a>
        {% endif %}
        {%- if person.gh_username -%}
          <a href="https://github.com/{{ person.gh_username }}" class="mx-1" aria-label="GitHub">
            <i class="ti ti-brand-github"></i>
          </a>
        {%- endif -%}
        <!-- more icons as needed -->
      </div>
    </div>
    <div class="col-md-8">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</main>
