---
layout: default
---
{% assign person = page %}

<main class="container my-5">
  <div class="row align-items-start">
    <!-- text on left -->
    <div class="col-md-8 order-md-1">
      <h1>{{ person.title }}</h1>
      {{ content }}
    </div>

    <!-- photo + icons on right -->
    <div class="col-md-4 text-center order-md-2">
      {% include figure.liquid
         path=person.image
         class="img-fluid rounded mb-3"
         sizes="200px" %}
      <div class="mt-2 d-flex justify-content-center gap-5 fs-1">
        {% if person.website_url %}
          <a href="{{ person.website_url }}" target="_blank" rel="noopener" aria-label="Website">
            <i class="ti ti-world"></i>
          </a>
        {% endif %}
        {% if person.email %}
          <a href="mailto:{{ person.email }}" aria-label="Email"><i class="ti ti-mail"></i></a>
        {% endif %}
        {% if person.phone %}
          <a href="tel:{{ person.phone }}" aria-label="Phone"><i class="ti ti-phone"></i></a>
        {% endif %}
        {% if person.li_username %}
          <a href="https://linkedin.com/in/{{ person.li_username }}" aria-label="LinkedIn"><i class="ti ti-brand-linkedin"></i></a>
        {% endif %}
        {% if person.scholar_userid %}
          <a href="https://scholar.google.com/citations?user={{ person.scholar_userid }}" aria-label="Google Scholar"><i class="ai ai-google-scholar"></i></a>
        {% endif %}
        {% if person.orcid_id %}
          <a href="https://orcid.org/{{ person.orcid_id }}" aria-label="ORCID"><i class="ai ai-orcid"></i></a>
        {% endif %}
        {% if person.gh_username %}
          <a href="https://github.com/{{ person.gh_username }}" aria-label="GitHub"><i class="ti ti-brand-github"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</main>
